<div id="controls" class="round">
    
    <ul id="controls">
  <li class="control">
    <div class="control_panel">
<!--      <h4>Spin</h4> -->
    <ul class="control">
      <li class="control">
<!--           <input type="checkbox" id="spin" /> -->
      </li>

    </ul>

     
      </div>
  </li>
<!--  
  <li class="control">
    <div class="control_panel">
    <h4>Representation</h4>
      <ul class="control">
        <li class="control">
          <input type="radio" value="cartoon" id="representation_cartoon" name="representation" checked="checked"/>
          <label for="representation_cartoon">Cartoon</label>
        </li>
        <li class="control">
          <input type="radio" id="representation_backbone" value="backbone" name="representation"  />
          <label for="representation_backbone">Backbone</label>
        </li>

      </ul>

      
    </div>

  </li>
  <li class="control">
    <div class="control_panel" id="colors">
     <h4>Colors</h4>

        <input type="radio"  id="color_secondary" name= "color" value="structure" checked="checked"/>
        <label for="color_secondary">Secondary structure</label>
        <input type="radio"  id="color_temperature" name= "color" value="temperature"/>
        <label for="color_temperature">Temperature</label>
        <input type="radio"  id="color_monochrome" name= "color" value="cpk"/>
        <label for="color_monochrome">Monochrome</label>
        <input type="radio"  id="color_group" name= "color" value="group"/>
        <label for="color_group">Group</label>
        <input type="radio"  id="color_amino" name= "color" value="amino"/>
        <label for="color_amino">Aminoacids</label>


     
    </div>
  </li>
-->  
</ul>
  </div>
<!-- <div id="config_hidden" style="display: none;" class="config_hidden" > -->

<!-- </div> -->
