<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300&subset=latin-ext' 
      rel='stylesheet' type='text/css'>
<link type="text/css"
      href="{{ STATIC_URL }}css/dark-hive/jquery-ui-1.8.16.custom.css"
      rel="Stylesheet" />
<link type="text/css"
      href="{{ STATIC_URL }}css/layout-default-latest.css" rel="Stylesheet" />

<link rel="stylesheet" type="text/css"
      href="{{ STATIC_URL }}css/style.css" />

<link type="text/css" rel="stylesheet"
      href="{{ STATIC_URL }}css/buttons.css" />
<link type="text/css" rel="stylesheet"
      href="{{ STATIC_URL }}css/general.css" />
<link type="text/css" rel="stylesheet"
      href="{{ STATIC_URL }}css/layout.css" />

<link type="text/css" rel="stylesheet"
      href="{{ STATIC_URL }}css/west_toolbar.css" />
<link type="text/css" rel="stylesheet"
      href="{{ STATIC_URL }}css/votes.css" />
<link type="text/css" rel="stylesheet"
      href="{{ STATIC_URL }}css/proteins.css" />

<link type="text/css" rel="stylesheet"
      href="{{ STATIC_URL }}css/notification.css" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flexslider.css" />
