{% extends "base.html" %}

{% block main_top %}

{% endblock %}

{% block main_body %}
<div class="left_column">
    <p><img src="{{ STATIC_URL }}images/protein.jpg" alt="" width="500px" height="500px"/></p>
    </div>
    <div class="right_column">
    <h1 style="margin-top:50px ">Classify Proteins.</h1>
    <h1 style="text-align:center;margin-top:25px"> Have Fun.</h1>
    <p style="margin-top: 150px "><a  href="/game/play" > <img src="{{ STATIC_URL }}images/start.png" border="0" alt="Play" width="300px" >  </a></p>
</div>

<div style="clear:both"></div>
<p>Help science by deciphering structural relationships between groups of proteins</p>
{% endblock %}

{% block main_bottom %}
{% endblock %}

            