<div id="score_panel" >
    <h1> Level <span id="score_panel_level"></span> Score</h1>
<!--    <p style="font-size: 24px; text-align: left; ">Score: <span style="font-size: 24px; text-align: center" id="score">0</span></p>-->
	<div id="game_instances_correct_container">
		<span  id="game_instances_correct"></span>
			<p>Corrects</p> 
	</div>
	<div id="game_instances_played_container">		
		 <span id="score">
		   <span id="game_instances_played"></span><span id="game_instances_for_level">/10</span></span>
    	<p> Played</p>
    </div>

</div>
