{% extends "base.html" %}




            	{% block main_top %} <h1>Score</h1> {% endblock %}


           	{% block main_body %}
                {% if attempted %}
                {% if error %}
                <p>Sorry, unrecognized username or password.</p>
                {% else %}
                <p>{{username}}!</p>
                {%endif%}
                {% else %}

                    <form  action="/users/login_user" method="post">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>
                                    Username:
                                </td>
                                <td>
                                    <input type="text" name="username" size="40" maxlength="20">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Password:
                                </td>
                                <td>
                                    <input type="password" name="password" size="40" maxlength="20">
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <input type="submit" value="Sign in" />
                                </td>
                                <td>

                                </td>
                            </tr>
                        </table>


                    </form>
                {%endif%}
                {% endblock %}