
<link type="text/css" href="{{ STATIC_URL }}css/dark-hive/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}css/layout-default-latest.css" rel="Stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}css/selectbox.css" rel="Stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}css/popup.css" rel="Stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}css/rateit.css" rel="Stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flexslider.css" />


