.level{
	width: 24px; height: 24px;
 cursor: default;
}
.level_selected{
    border:orange 1px solid;
    width: 105;
    cursor:pointer;
}
.level_unlocked{
 cursor:pointer;
	
}

#level_panel{
    overflow:hidden;
    text-align:center;
    padding:10px;
    border:1px solid grey;
    border-radius:10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
    
}

#level{
	text-align: center;
	width: 100%;
	padding-bottom: 5px;
	font-size: 40px;
	font-weight: bold;
}
