    <tr>
              <td style="text-align: center;">
              <input type="image" id="selectButton0" class="selectButton" name="selectButton" src="{{STATIC_URL}}images/buttons/select.png" >
             </td>
            <td style="text-align: center;">
              <input type="image" id="selectButton1" class="selectButton" name="selectButton" src="{{STATIC_URL}}images/buttons/select.png" >
            </td>
            <td style="text-align: center;">
              <input type="image" id="selectButton2" class="selectButton" name="selectButton" src="{{STATIC_URL}}images/buttons/select.png" >
            </td>
          </tr>
          <tr align="center">
            <td colspan="3"  style="text-align: center;">

              <input style="display: none;" id="send"  type="image"  src="{{STATIC_URL}}images/buttons/next.png" >

            </td>
          </tr>
          <tr>
              <td colspan="3"  style="text-align: center;">

              {% include "protein/bet_buttons2.html" %}

            </td>
          </tr>