<div id="config_hidden" class="config_hidden" >

</div>
<div class="config_panel" id="config_panel">
    <ul style="list-style: none; float: right;">
        <li>
            <div  id="fullscreen_panel">
                <input type="image" src="{{STATIC_URL}}images/buttons/fullscreen.png" onclick="change_image_fullscreen(this.src)" id="fullscreen">
            </div>
        </li>
        <li>
            <div  id="sound">
                
                <input id="mute" type="image" src="{{STATIC_URL}}images/buttons/sound.png" >
            </div>
        </li>
    </ul>
</div>