{% if game_data.game_score.attempts < 10 %}

            
<div id="info" class="info" style="float: left;">
                  <div class="info-body">
                    
                      <img src="{{STATIC_URL}}images/icons/info.png" alt="" />
                      
                      <p>You can rotate a protein by clicking and dragging the image.</p>
                      
                  </div>
                    <div class="info-bottom">
                    </div>
                </div>


                <script type="text/javascript">
                 $("#info" ).purr(
     {
       fadeInSpeed: 200,
       fadeOutSpeed: 2000,
       removeTimer: 5000
       
    }, $("#container_instructions")
   );
 </script>
           <style type="text/css">
	

		.info {
			position: absolute;
			width:220px;
                        top: 70px;
                        left: 700px;
                        z-index: 2;
		}
			.info .close	{position: absolute; top: 12px; right: 12px; display: block; width: 18px; height: 17px; text-indent: -9999px; background: url({{STATIC_URL}}images/purrClose.png) no-repeat 0 10px;}

		.info-body {
			min-height: 50px;
			padding: 22px 0px 0px 22px;
			background: url({{STATIC_URL}}images/purrTop.png) no-repeat left top;
			color: #f9f9f9;
		}
			.info-body img	{width: 50px; margin: 0 10px 0 0; float: left;}
			.info-body h3	{ margin: 0; margin-top: 15px; font-size: 1.1em;}
			.info-body p		{margin: 0px 0 0 0px; font-size: 0.8em; line-height: 1.4em;}

		.info-bottom {
			height: 22px;
			background: url({{STATIC_URL}}images/purrBottom.png) no-repeat left top;
		}
	</style>

                {% endif %}



