<div style=" vertical-align: bottom; padding:2px;">
            <img style=" display:inline; padding:0;margin:0; float:left;" src="{{STATIC_URL}}images/icons/chip.png" width="64" height="64" alt="Chips"/>
      </div>
      <ul style="vertical-align: bottom; padding:2px;list-style:none;">
          <li>
              <div style="text-align: center">
                  <span>Points:</span>
                  <p style="text-align: center"><span id="points" style="font-size: 48px;"></span></p>
              </div>
          </li>
          
      </ul>



  