{% extends "base.html" %}




            	{% block main_top %} <h1>Select Game Type</h1> {% endblock %}


           	{% block main_body %}
                 <form  action="/game/play" method="get">
                        {% csrf_token %}
                        <input type="hidden" name="game_type" value="bet">
                        <input type="submit" value="Play Bet Points Game" />
                 </form>
                <form  action="/game/play" method="get">
                        {% csrf_token %}
                        <input type="hidden" name="game_type" value="survival">
                        <input type="submit" value="Play Save Points Game" />
                 </form>
                {% endblock %}