    <tr>
              <td style="text-align: center;">
                  {% include "protein/bet_buttons2.html" with id=1 %}
             </td>
            <td style="text-align: center;">
              {% include "protein/bet_buttons2.html" with id=2 %}
            </td>
            <td style="text-align: center;">
                {% include "protein/bet_buttons2.html" with id=3 %}
            </td>
          </tr>
          <tr>
              <td colspan="3"  style="text-align: center;">

              <input  id="bet"  type="image"  src="{{STATIC_URL}}images/buttons/bet.png" >
               <input style="display: none;" id="next"  type="image"  src="{{STATIC_URL}}images/buttons/next.png" >
              <td>
          </tr>
          