.left_column {
float: left;
width: 365px;
margin-left: 25%;
background-color: black;
}
.center_column {
width: 365px;
background-color: black;
}
.right_column {
float: left;
width: 365px;
margin: 0 0 0 60px;
background-color: black;
}
