#game-main,#game-container{
    margin: 10px 0px 0px 0px auto;
    padding: 0;
    border:0;
        color: #F1F5F8;
        overflow: auto;
/*         background-image: url( "../images/backgrounds/background_game.png"); */
/*         background-repeat: no-repeat; */
        background-color: #000000;
}

#game{
	text-align:center;
    margin: 10px 0px 0px 0px auto;
    margin-top: 20px;
}

#south_west,#south_center,#south_east{
        margin:0;
            overflow:visible;
    height:75px;
    border:0;
    padding:0;
}
#north_east{
        margin:0;
            overflow:hidden;
    height: 100%;
    vertical-align: top;
    float: right;
    text-align: right;
    border:0;
}