#blanket {
background-color:#111;
opacity: 0.65;
filter:alpha(opacity=65);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}
#popup_name {
position:absolute;
background-color:#FFFFFF;
z-index: 9002;
color:#000000;
top: 100px;
height: 100px;
width: 250px;
border-color: black;
border-width: 1px;
border-style: solid;
}
#popup_registration {
position:absolute;
background-color:#FFFFFF;
z-index: 9002;
color:#000000;
top: 100px;
height: 200px;
width: 250px;
border-color: black;
border-width: 1px;
border-style: solid;
}