.votes{
    display: hidden;
}
.score_container,.score_container_top,.score_container_central{
    text-align: center;
    vertical-align: middle;
    position:relative;
    width:72px; height: 72px;
    -webkit-border-radius: 72px;
    -moz-border-radius: 72px;
    border-radius:72px;
    border: 0px solid green;
    background-color: grey;
    vertical-align: middle;
    color:black;
    display: hidden;
}
.score_container_top{
    position: absolute; 
    bottom:-40px;  right:  125px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.score_container{
    top:90px;
}
.score_container_central{
    top:-40px;
}
#score_container0{

}

#score_container1{
    position: absolute;  right: -90px;  text-align: center;
}
#score_container2{
    position: absolute;  left:  -90px; text-align: center;
}


#vote_container0{
    padding-top:30px;  

}

#vote_container1{
    padding-top:17px;
    padding-right:10px;
    text-align: right;
}
#vote_container2{
    padding-top:17px;  
    padding-left:10px;

    text-align: left;
}
.vote_container{
    font-size: 30px;
    text-align: center;
    width: 90%;
    height: 100%; 
    overflow: hidden;
    display:hidden;
}
.vote_container_top{
}


.correct_bg{
    background-color: green;
    color:white;
}
.incorrect_bg{
    background-color: red;
    color:white;
}

.tie_bg{
    background-color:yellow;
    color:white;
    border: yellow 2  px solid;
}