{% extends "browser/base.html" %}

{% block north %}
      {% include  "browser/levels.html" with title="Classes" level="class" levels=classes %}
      {% include  "browser/search_protein.html" %}
{% endblock %}

{% block center %}
        {% for c in classes %}

        <div class="class">
          <h2> <a href="/browser/class?id={{c.id}}">Class {{c.id}}</a> </h2>
          {% include  "browser/proteins.html" with proteins=c.images %}
          
        </div>
        {% endfor %}

{% endblock %}

