{% extends "browser/base.html" %}

{% block north %}

      {% include  "browser/levels.html" with title="Classes" level="class" levels=classes %}
      {% include  "browser/levels.html" with title="Folds" level="fold" levels=route.Class.children %}
      {% include  "browser/levels.html" with title="Superfamilies" level="superfamily" levels=route.Fold.children %}

      {% include  "browser/levels.html" with title="Families" level="family" levels=route.SuperFamily.children %}
      {% include  "browser/search_protein.html" %}
      
{% endblock %}

{% block center %}

          {% include  "browser/proteins.html" with proteins=level.get_images title="Proteins" %}

{% endblock %}

