
                      <input type="image" src="{{ STATIC_URL }}images/buttons/cero.png" alt="Remove Bet" class="bet_buttons" id="cero{{id}}"/>
                      <input type="image" src="{{ STATIC_URL }}images/buttons/all.png" alt="Bet All" class="bet_buttons" id="all{{id}}"/>
                      <input type="text" style="text-align: center" value="1" id="bet_amount{{id}}"  name="bet_amount{{id}}">
                      <input type="image" src="{{ STATIC_URL }}images/buttons/menos.png"  class="bet_buttons" id="menos{{id}}"/>
                      <input type="image" src="{{ STATIC_URL }}images/buttons/mas.png" class="bet_buttons" id="mas{{id}}"/>
                  