<div id="south_west" class="ui-layout-west panel">
  <div id="points_panel" style=" height: 100%;"class=" round">
      
        {% include "protein/points_panel_game.html" %}

  </div>
</div>
<div id="south_center" class="ui-layout-center panel" >
  <div id="controls" class="round">
    {% include "protein/controls.html" %}
  </div>
</div>
<div id="south_east" class="ui-layout-east panel">
 <div id="user_panel" style=" height: 100%;" class="round">
    {% include  "protein/user_panel.html" %}
 
  </div>
</div>