            <div id="finish_registration" style="float: right;padding:5px;">
               
                <p>Player:<span id="anonymous_user"></span></p>
                <p>  <a id="finish_registration_button" class="smallButton" href="#">Register to save your score</a></p>
                
                    <p><a id="log_in" class="smallButton" href="#">(Already registered?)</a></p>
                </div>
                <div id="modify_data_button" style=" padding-top: 10px;">
                    <a class="smallButton" href="#">Modify User Data</a>
                </div>
                <div id="logout" style="">
                    
                    <a class="smallButton" href="/users/logout_user">Log out <span id="user"></span></a>
                </div>
