<div id="menu" >
    <ul style="margin-left: 30%;">
        <li style="list-style: none;display: inline;">
            <span>  <a href="/"> Home  </a>-</span>
        </li>
<!--         <li style="list-style: none;display: inline;"> -->
<!--             <span>  <a href=""> Game Info  </a>-</span> -->
<!--         </li> -->
<!--         <li style="list-style: none;display: inline;"> -->
<!--            <span> <a href="">Tutorial  </a>-</span> -->
<!--         </li> -->
<!--         <li style="list-style: none;display: inline;"> -->
<!--           <span> <a href="/users/highscores?level=1"> Highscores </a>-</span> -->
<!--         </li> -->
<!--         <li style="list-style: none;display: inline;"> -->
<!--            <span> <a href="">Support </a>-</span> -->
<!--         </li> -->
<!--         <li style="list-style: none;display: inline;"> -->
<!--             <span><a href="">Help science!</a></span> -->
<!--         </li> -->
    </ul>
</div>